app/src/settings.php
app/composer.lock
app/vendor/
docker/.data/
docker/.env
docker/nginx/shared/tls/cloudflare-origin-pulls.pem
docker/nginx/shared/tls/istsi.key
docker/nginx/shared/tls/istsi.pem
cache/
data/
logs/
!.keep
