<footer class="footer">
    <div class="container">
        <p class="copyright text-muted">
            Made with <i class="fa fa-heart"></i> by <a href="https://migueldemoura.com">Miguel de Moura</a>.
            Code available <a href="https://github.com/migueldemoura/istsi">here</a>.
        </p>
    </div>
</footer>
