<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{ programName }}</a>
        </div>
        <div id="navbar" class="navbar-collapse" role="navigation">
        </div>
    </div>
</nav>
