<?php
declare(strict_types = 1);

use Monolog\Logger;

return [
    'settings' => [
        'displayErrorDetails'    => , // BOOL
        'addContentLengthHeader' => , // BOOL

        'renderer' => [
            'templatePath' => __DIR__ . '/../templates/',
            'cachePath'    => __DIR__ . '/../../cache/',
        ],

        'logger' => [
            'name'        => '',
            'path'        => __DIR__ . '/../../logs/app/app.log',
            'level'       => Logger::DEBUG,
        ],

        'mailer' => [
            'host'        => '',
            'port'        => , //INT
            'username'    => '',
            'password'    => '',
            'fromName'    => '',
            'fromEmail'   => ''
        ],

        'fenix' => [
            'clientId'    => '',
            'clientSecret'=> '',
            'redirectUri' => '',
            'apiBaseUrl'  => ''
        ],

        'database' => [
            'driver'      => 'pdo_pgsql', // or pdo_mysql
            'host'        => 'postgres', // or mysql
            'database'    => '',
            'username'    => '',
            'password'    => '',
            'charset'     => 'utf8', // or utf8mb4 for mysql
        ],

        'files' => [
            'extension'     => '',
            'mimeType'      => '',
            'maxSize'       => '',
            'directoryRoot' => '', //EX: __DIR__ . '/../../data/'
            // Allowed slugs {year}, {proposal}, {uid}, {type}
            'directory'     => '',
            'filename'      => '',
        ],

        'program' => [
            'name'      => '',
            'year'      => '',
            'email'     => '',
            'facebook'  => '',
            'period'    => [
                'start' => '', //YYYY-MM-DD
                'end'   => ''  //YYYY-MM-DD
            ],
            'societies' => [
                ['name' => '', 'facebook' => ''],
            ],
            'termsPath' => ''
        ]
    ]
];
