<?php
declare(strict_types = 1);

use Monolog\Logger;

return [
    'settings' => [
        'displayErrorDetails'    => , // BOOL
        'addContentLengthHeader' => , // BOOL

        'renderer' => [
            'templatePath' => __DIR__ . '/../templates/',
            'cachePath'    => __DIR__ . '/../../cache/',
        ],

        'logger' => [
            'name'        => '',
            'path'        => __DIR__ . '/../../logs/app/app.log',
            'level'       => Logger::DEBUG,
        ],

        'mailer' => [
            'host'        => '',
            'port'        => , //INT
            'username'    => '',
            'password'    => '',
            'fromName'    => '',
            'fromEmail'   => ''
        ],

        'fenix' => [
            'clientId'    => '',
            'clientSecret'=> '',
            'redirectUri' => '',
            'apiBaseUrl'  => ''
        ],

        'database' => [
            'driver'      => 'pdo_mysql',
            'host'        => 'db',
            'database'    => '',
            'username'    => '',
            'password'    => '',
            'charset'     => 'utf8mb4',
            'collation'   => 'utf8mb4_unicode_ci',
        ],

        'files' => [
            'extension'   => '',
            'mimeType'    => '',
            'maxSize'     => '',

            // Allowed slugs {year}, {proposal}, {uid}, {type}
            'directory'   => __DIR__ . '/../../data/',
            'filename'    => '',
        ],

        'program' => [
            'name'        => '',
            'year'        => '',
            'email'       => '',
            'facebook'    => '',
            'period' => [
                'start'   => '', //YYYY-MM-DD
                'end'     => ''  //YYYY-MM-DD
            ],
            'societies' => [
                ['name' => '', 'facebook' => ''],
            ]
        ]
    ],
];
