{% extends 'base.twig' %}

{% block title %}{{ programName }} {{ programYear }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/fonts.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/user.css">
{% endblock %}

{% block body %}
    {% include('shared/navbar.empty.twig') %}

    <div class="container">
        <div class="row mb20">
            <div class="col-md-10 center-block">
                <h3 class="mb20">Login</h3>
                <p>Introduza o email associado à sua conta.<br>
                   Ser-lhe-á enviado um email para o mesmo com um link de login válido por apenas 30 minutos.<br>
                   O envio poderá demorar até 3 minutos, e deverá verificar a sua caixa de spam pela mensagem.<br>
                   Caso a sessão expire, deverá pedir um novo link de login.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <form id="loginform" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="email">Email</label>
                        <div class="col-md-6">
                            <input type="email" id="email" name="email" class="form-control" maxlength="255" required>
                            <p class="message"></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row text-center mb20">
            <div class="col-md-3 col-md-offset-4">
                <button type="submit" class="btn btn-primary btn-block" id="loginformsubmit">Enviar Link Login</button>
            </div>
        </div>
    </div>

    {% include('shared/footer.twig') %}
{% endblock %}

{% block javascripts %}
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery/jquery.validate.min.js"></script>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/company/login.js"></script>
{% endblock %}
