html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 75px; /* bottom = footer height */
}

.navbar-inverse .navbar-brand {
    color: #EFEFEF;
}

input.input-file {
    display: none;
}

.placeholder {
    color: #999;
}

.message {
    margin-top: 10px;
}

.label-hidden {
    display: none;
}

label.error {
    color: #d43f3a;
}

footer {
    position: absolute;
    background-color: #272833;
    left: 0;
    bottom: 0;
    width: 100%;
}

.copyright {
    margin: 1.25em 0;
}

/* Remove scroll wheel from number inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}