@import 'fonts.css';
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f1f1f1;
    margin: 0 0 55px; /* bottom = footer height */
}

.navbar-inverse .navbar-brand {
    color: #efefef;
}

textarea {
    resize: vertical;
}

input.input-file {
    display: none;
}

.placeholder {
    color: #999
}

.btn-info {
    color: rgba(248, 250, 255, 0.99);
    background-color: rgba(62, 68, 89, 0.9);
    border-color: #3e4459;
}

.btn-info:hover {
    color: rgba(248, 250, 255, 0.99);
    background-color: rgba(49, 54, 75, 0.9);
    border-color: rgb(62, 68, 89);
}

.message {
    margin-top: 10px;
}

.label-hidden {
    display: none;
}

label.error {
    color: #d43f3a;
}

footer {
    background-color: #272833;
    position: absolute !important;
    left: 0;
    bottom: 0;
    height: 55px;
    width: 100%;
}

.copyright {
    margin: 1.25em 0;
}

/* Remove scroll wheel from number inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield !important;
}