html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 75px; /* bottom = footer height */
}

input.input-file {
    display: none;
}

.placeholder {
    color: #999;
}

.message {
    margin-top: 10px;
}

.label-hidden {
    display: none;
}

label.error {
    color: #d43f3a;
}

footer {
    position: absolute;
    background-color: #272833;
    left: 0;
    bottom: 0;
    width: 100%;
}

.copyright {
    margin: 1.25em 0;
}