<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {% include('favicons.twig') %}

    <meta property="og:title" content="IST Summer Internships">
    <meta property="og:url" content="https://istsi.org">
    <meta property="og:locale" content="pt_PT">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Summer Internships for Técnico Lisboa (IST) students.">
    <meta property="og:image" content="https://istsi.org/images/logos/istsi.png">
    <meta property="og:site_name" content="ISTSI">

    {% block stylesheets %}{% endblock %}
</head>
<body {% block bodyProps %}{% endblock %}>
    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}
</body>
